.Rproj.user
.Rhistory
.RData
.Ruserdata
.html
.pdf
/.quarto/
01-slides-landasan-inferensi-speaker.html
lk--inferensi-banyak-rerata.html
lk--inferensi-banyak-rerata_files
lk--inferensi-rerata-dua-sampel.html
lk--inferensi-rerata-dua-sampel_files
lk--inferensi-rerata-tunggal.html
lk--inferensi-rerata-tunggal_files
slides-kuliah-umum-metode-statistik-speaker.html
slides-kuliah-umum-metode-statistik.html
slides-kuliah-umum-metode-statistik_files
01-slides-landasan-inferensi.html
01-slides-landasan-inferensi_files
02-slides-inferensi-proporsi-speaker.html
02-slides-inferensi-proporsi.html
02-slides-inferensi-proporsi_files
Rplot.png
Rplot01.png
Rplot02.png
UTS-Landasan-Inferensi.pdf
_extensions
analisis-data-eksperimen-mathematica.pdf
daun-bunga-iris.png
